@model AXIS.Models.Quote

@{
    ViewBag.Title = "RFQ # " + @ViewBag.RfqId + " Ver. 1";
}

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @ViewBag.RfqId</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Date:</p>
                </th>
                <th align="center">
                    <p>@ViewBag.VersionDate</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Version #</p>
                </th>
                <th align="center">
                    <p>@ViewBag.NumberVersion</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Wind Farm</p>
                </th>
                <th align="center">
                    @ViewBag.SiteFarm
                </th>
            </tr>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 form-group">
        <div class="panel panel-axis right">
            <!-- Default panel contents -->
            <div class="panel-heading">CUSTOMER</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>@ViewBag.FullName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.Street</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.City , @ViewBag.State, @ViewBag.Country</p>
                    </th>
                </tr>
            </table>

        </div>
    </div>

    <div class="col-sm-6 form-group">
        <div class="panel panel-axislg right">
            <!-- Default panel contents -->
            <div class="panel-heading">QUOTE / PROJECT DESCRIPTION</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>Project Name: @ViewBag.ProjectName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Type of Work: @ViewBag.TypeWork</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Scope of Work:@ViewBag.ScopeWork</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        @ViewBag.ProjectDescription
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-bordered">
        <thead class="tr-axis">
            <tr>
                <th style="width:400px">
                    Description
                </th>
                <th style="text-align:center">
                    UM
                </th>
                <th style="text-align:center">
                    Cost per Unit
                </th>
                <th style="text-align:center">
                    Price per Unit
                </th>
                <th style="text-align:center">
                    Quantity
                </th>
                <th style="text-align:center">
                    Total Line
                </th>
                <th style="text-align:center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                    @*@Html.DropDownList("Description", null, "Please select an option", htmlAttributes: new { @class = "form-control", @id = "SelectQuotes" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@
                </th>
                <th style="text-align:center">
                    @Html.EditorFor(model => model.Um, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Um, "", new { @class = "text-danger" })
                </th>
                <th style="text-align:center">
                    @Html.EditorFor(model => model.CostPerUnit, new { htmlAttributes = new { @class = "form-control", placeholder = "$ 0.00" } })
                    @Html.ValidationMessageFor(model => model.CostPerUnit, "", new { @class = "text-danger" })
                </th>
                <th style="text-align:right">
                    @Html.EditorFor(model => model.PricePerUnit, new { htmlAttributes = new { @class = "form-control", @onfocus = "calctotal()", placeholder = "$ 0.00" } })
                    @Html.ValidationMessageFor(model => model.PricePerUnit, "", new { @class = "text-danger" })
                </th>
                <th style="text-align:right">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @onfocus = "calctotal()" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </th>
                <th style="text-align:right">
                    @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })

                </th>
                <th style="text-align:center">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="" onclick="addQuote(@ViewData["RversionId"]); return false;" class="glyphicon glyphicon-save">Add Item</a>
                        </div>
                    </div>
                </th>
            </tr>

        </tbody>
    </table>
</div>


@Html.AntiForgeryToken()

<p id="msg"></p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-bordered" id="tabla">
        <thead class="tr-axis">
            <tr>
                <th style="width:400px">
                    Description
                </th>
                <th style="text-align:center">
                    UM
                </th>
                <th style="text-align:center">
                    Cost per Unit
                </th>
                <th style="text-align:center">
                    Price per Unit
                </th>
                <th style="text-align:center">
                    Quantity
                </th>
                <th style="text-align:center">
                    Total Line
                </th>
                <th style="text-align:center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>


<div class="panelright">
    <div class="panel panel-axis">
        <!-- Default panel contents -->
        <div class="panel-heading">SPECIAL NOTES AND INSTRUCTIONS</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    @ViewBag.Notes
                </th>

            </tr>


        </table>

    </div>
</div>

<div>
    @Html.ActionLink(" SAVE VERSION", "Details", "rfqs", new { id = ViewBag.RfqId }, new { @class = "btn btn-primary btn-xs" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>

                function addtable(id) {

                    var Description = $('#Description').val();
                    var Um = $('#Um').val();
                    var CostPerUnit = $('#CostPerUnit').val();
                    var PricePerUnit = $('#PricePerUnit').val();
                    var Quantity = $('#Quantity').val();
                    var Currency = PricePerUnit * Quantity;

                    $('#tabla tr:last').after(
                        '<tr class="trbodyaxis" id=Quote' + id + '><td style="text-align:left">' + Description + '</td><td style="text-align:center">' + Um + '</td>' +
                             '<td style="text-align:right">' + CostPerUnit + '</td><td style="text-align:right">' + PricePerUnit + '</td><td style="text-align:center">'
                               + Quantity + '</td><td style="text-align:right">' + Currency + '</td>' +
                               '<td style="text-align:center"><a href="" onclick="confirmDelete(' + id + '); return false;" class = "glyphicon glyphicon-remove"></a></td>'
                        );

                    var band = clearform();
                }

                function addQuote(id) {
                    var url = "/Quotes/Create/";
                    var RversionId = id
                    var anti = $('[name=__RequestVerificationToken]').val();
                    var Description = $('#Description').val();
                    var Um = $('#Um').val();1
                    var PricePerUnit = $('#PricePerUnit').val();
                    var CostPerUnit = $('#CostPerUnit').val();
                    var Quantity = $('#Quantity').val();
                    var Currency = PricePerUnit * Quantity;

                    $.post(url, { Description: Description, Um: Um, PricePerUnit: PricePerUnit, Quantity: Quantity, Currency: Currency, RversionId: RversionId, CostPerUnit: CostPerUnit, __RequestVerificationToken: anti },
                        function (data) {
                            var band = addtable(data);

                        });


                }

                function confirmDelete(id) {
                    var url = "/quotes/Delete/";
                    var QuoteId = id
                    var anti = $('[name=__RequestVerificationToken]').val();

                    $.post(url, { id: QuoteId, __RequestVerificationToken: anti }, function (data) {
                        $("#Quote" + QuoteId).remove();
                    });

                }

                function clearform() {

                    var Description = $('#Description').val('');
                    var Um = $('#Um').val('');
                    var PricePerUnit = $('#PricePerUnit').val('');
                    var CostPerUnit = $('#CostPerUnit').val('');
                    var Quantity = $('#Quantity').val('');
                    var Currency = $('#Currency').val('');

                }


                function calctotal() {
                    var PricePerUnit = $('#PricePerUnit').val();
                    var Quantity = $('#Quantity').val();


                    var result = PricePerUnit * Quantity;
                    $('#Currency').val(result);
                }


                $("#SelectQuotes").change(function () {       // Funcion que se ejecuta cuando cambia la lista

                    var name = $(this).val();

                    if (name != "")
                    {     var url = "/QuotesLists/GetQuotes/";



                        $.ajax({
                            url: url,
                            data: { Description: name },
                            cache: false,
                            type: "POST",
                            success: function (data) {

                                $('#Um').val(data.Um);
                                $('#PricePerUnit').val(data.Price);
                                $('#CostPerUnit').val(data.Cost);

                            },
                            error: function (reponse) {
                                alert(reponse);
                            }
                        });
                    }else{

                        $('#Um').val('');
                        $('#PricePerUnit').val('');
                        $('#CostPerUnit').val('');

                    }
                });


    </script>

}

