@model AXIS.Models.TechInfoWork

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TechInfoWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Farm.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farm.FarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scopework.Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scopework.Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tech.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tech.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechInfoWorkId }) |
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
