@model IEnumerable<AXIS.Models.TechInfoWork>

@{
    ViewBag.Title = "Work Experience";
}

<h2>WORK EXPERIENCE</h2>

<p>
    @Html.ActionLink("BACK","Details", "Teches", new { id = @ViewBag.TechId }, new {@class= "btn btn-primary btn-xs" })
    @Html.ActionLink("ADD", "Create", "TechInfoWorks", new { id = @ViewBag.TechId }, new { @class = "btn btn-primary btn-xs" })

</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        FULL NAME: @ViewBag.FullName
    </div>
    <table class="table table-bordered">
        <tr>
            <th>
                SITE NAME
            </th>
            <th>
                MANUFACTERE
            </th>
            <th>
                PLATFORM
            </th>
            <th>
                TYPE OF SERVICE
            </th>
            <th>
                SCOPE OF WORK
            </th>
            <th>
                NOTES
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var ident = "Tech" + @item.TechInfoWorkId;

            var fullname = @item.Tech.FirstName + " " + @item.Tech.LastName;

            <tr id=@ident>
                <td>
                    @Html.DisplayFor(modelItem => item.Farm.FarmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlatformName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scopework.Work)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.TechInfoWorkId, idtech = item.TechId }, new {@class= "glyphicon glyphicon-pencil" }) |
                    <a href="" onclick="confirmDelete(@item.TechId, @item.TechInfoWorkId); return false;" class="glyphicon glyphicon-remove" , title="DELETE W.E."></a>
                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        <div class="row">
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function confirmDelete(TechId,TechInfoWorkId) {
            bootbox.confirm({
                message: "ARE YOU SURE TO DELETE THIS INFO.",
                buttons: {
                    confirm: {
                        label: 'YES',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'NO',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {

                    if (result) {
                        var url = "/TechInfoWorks/Delete/";

                        var anti = $('[name=__RequestVerificationToken]').val();

                        $.post(url, { TechId: TechId, TechInfoWorkId: TechInfoWorkId , __RequestVerificationToken: anti }, function (data) {



                            $("#Tech" + TechInfoWorkId).remove();
                            $("#msg").last().addClass("alert alert-success");
                            $("#msg").html(data);
                        });

                    }
                }
            });


        }


    </script>

}
