
@model AXIS.Models.FieldOperations

@{
    ViewBag.Title = "ADITIONAL INFORMATION";
}

<h2>MOBILIZATION &raquo; SETUP</h2>
<p>
    @Html.ActionLink("BACK", "Create", "FieldOperations", new { id = Model.PurchaseOrderId, ContractId = @ViewBag.ContractId }, new { @class = "btn btn-primary btn-xs" })
</p>

<h4>ADITIONAL INFORMATION</h4>
<hr />


<div class="panelright">
    <div class="panel panel-axislg right">
        <!-- Default panel contents -->
        <div class="panel-heading">JOB # @ViewBag.ContractId  AXIS PO # @ViewBag.PurchaseOrderId</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>CLIENT PO:</p>
                </th>
                <th align="center">
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.PurchaseOrder.PO)
                    </div>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>TECHNICIAN FULL NAME</p>     
                </th>
                <th align="center">
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Tech.FullName) @Html.DisplayFor(model => model.TechId)
                    </div>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>TECHICIAN STATUS</p>
                </th>
                <th align="center">
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.status)
                    </div>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>PER DIEM ADVANCE</p>
                </th>
                <th align="center">
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.PerDiemAdvance)
                    </div>
                </th>
            </tr>

        </table>

    </div>
</div>




<br />
@Html.Action("PartialList", "Flights", new { PurchaseOrderId = Model.PurchaseOrderId, ContractId = @ViewBag.ContractId, FieldOperationsId = Model.FieldOperationsId })

<br />
@Html.Action("PartialKitdetails", "TechInfoKits", new { TechId = Model.TechId })
