@model AXIS.Models.FieldOperations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FieldOperations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.PO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tech.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tech.FullName)
        </dd>

       <dd>
            @Html.DisplayFor(model => model.TechApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerDiemAdvance)
        </dt>

        <dd>
            @{
                if (Model.PerDiemAdvance != 0)
                {
                        @Html.DisplayFor(model => model.PerDiemAdvance)
                }
                else {
                        <label></label>
                }
             }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechApprovalADV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechApprovalADV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificatesStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificatesStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Create", "FieldOperations", new { id = Model.PurchaseOrderId, ContractId = @ViewBag.ContractId}, null)
</p>

<br />
@Html.Action("PartialList", "Flights", new { PurchaseOrderId = Model.PurchaseOrderId, ContractId = @ViewBag.ContractId, FieldOperationsId = Model.FieldOperationsId })
