@model IEnumerable<AXIS.Models.FieldOperations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tech.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechApproval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerDiemAdvance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechApprovalADV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificatesStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.PO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tech.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechApproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerDiemAdvance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechApprovalADV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificatesStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FieldOperationsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FieldOperationsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FieldOperationsId })
            </td>
        </tr>
    }

</table>
