@model AXIS.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldOperarions.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldOperarions.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostFlight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
