@model IEnumerable<AXIS.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldOperarions.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFlight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostFlight)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldOperarions.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFlight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostFlight)
        </td>

    </tr>
}

</table>

<div class="alert alert-warning">@ViewBag.Msg</div>