@model IEnumerable<AXIS.Models.Flight>

<p>
    @Html.ActionLink("NEW FLIGHT INFO.","Create","Flights" ,new { PurchaseOrderId = @ViewBag.PurchaseOrderId, ContractId = @ViewBag.ContractId, FieldOperationsId = @ViewBag.FieldOperationsId }, new { @class = "btn btn-primary btn-xs" })
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFlight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostFlight)
        </th>
        <th>
            STATUS
        </th>
        <th>
            ACTIONS
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink(@item.DataFlight, "Download", new { FieldOperationId = @item.FieldOperationsId, ImageName = @item.DataFlight })
        </td>
        <td>
            @{
                @Convert.ToDecimal(item.CostFlight).ToString("$ #,##0.00");
            }
        </td>
        <td>
            @Html.ActionLink(" ", null, null, new { href = "", onclick = "unapprovalFLT(" + item.FieldOperationsId + "); return false;", @class = "glyphicon glyphicon-remove btn btn-primary btn-xs" })
            @Html.ActionLink(" ", null, null, new { href = "", onclick = "approvalFLT(" + item.FieldOperationsId + "); return false;", @class = "glyphicon glyphicon-ok btn btn-primary btn-xs" })
        </td>
        <td>
          
            @* modificar eliminación de vuelo para que sea por ajax *@
        
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightId })
        </td>
    </tr>
}

</table>
