@model AXIS.Models.Rfq

@{
    ViewBag.Title = "NEW RFQ";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="panel panel-default">
        <!-- Default panel contents -->
        @Html.HiddenFor(model => model.ProjectName)

        <div class="panel-heading">STEP 1</div>

        <table class="table table-bordered">
            <div class="form-horizontal">
                 @Html.HiddenFor(model => model.Status)
                <p></p>
                <div class="form-group">
                    @Html.Label("CUSTOMER", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (ViewBag.ClientList != null)
                        {
                            @Html.DropDownListFor(model => model.Farm.ClientId, ViewBag.ClientList as SelectList, "--Select Customer", new { @class = "form-control", @id = "ClientId" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">SITE NAME</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.FarmId, new SelectList(" "), "--Select Site", new { @class = "form-control" })
                    </div>
                </div>
            </div>

        </table>
    
            <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-4">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="STEP 2" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>

        </div>


</div>
}

<div>
    <p>
           <a href=@Url.Action("Index","BusDev") class="btn btn-primary btn-xs">BACK</a>

           <a href=@Url.Action("Index","Rfqs") class="btn btn-primary btn-xs">VIEW RFQ LIST</a>
    </p>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ClientId").change(function () {
            $.get("/Rfqs/GetFarm", { ClientId: $("#ClientId").val() }, function (data){
                $("FarmId").empty();
                $.each(data, function (index, row) {
                    $("#FarmId").append("<option value='" + row.FarmId + "'>" + row.FarmName + "</option>")
                });
            });
        })
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
