@model AXIS.Models.Rfq

@{
    ViewBag.Title = "REVIEW RFQ";
}
<p>
    @Html.ActionLink("BACK", "Index", new { typefarm = ViewBag.Typefarm }, new { @class = "btn btn-primary btn-xs" })
</p>


<h2>REVIEW RFQ</h2>

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @Html.DisplayFor(model => model.RfqId)</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>SITE NAME</p>
                </th>
                <th align="center">
                    @Html.DisplayFor(model => model.Farm.FarmName)
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>CUSTOMER</p>
                </th>
                <th align="center">
                    @Html.DisplayFor(model => model.Farm.Client.FullName)
                </th>
            </tr>

        </table>

    </div>
</div>

@*Agregar listado de Versiones...que tenga este RFQ*@

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">VERSION LIST</div>

    <table class="table table-bordered">
        <tr>
            <th>
                VER. #
            </th>
            <th>
                DATE
            </th>
            <th>
                STATUS
            </th>
            <th>
                TYPE OF WORK
            </th>
            <th>
                SCOPE OF WORK
            </th>
            <th>
                PROJECT DESCRIPTION
            </th>
            <th>
                ACTIONS
            </th>
        </tr>

        @foreach (var item in ViewBag.Rversion)
            {
            <tr id="@item.RversionId">
                <td>
                    @item.NumberVersion
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.TypeWork
                </td>
                <td>
                    @item.ScopeWork.Work
                </td>
                <td>
                    @item.ProjectDescription
                </td>
                <td>
                    @Html.ActionLink(" OPEN", "VersionDetails", new { RversionId = item.RversionId, RfqId = Model.RfqId, typefarm = ViewBag.Typefarm }, new { @class = "glyphicon glyphicon-list-alt" })
                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        <div class="row">

        </div>
    </div>
</div>

