@model AXIS.Models.Rfq

@{
    ViewBag.Title = "Review RFQ";
}

<h2>Review RFQ</h2>

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @Html.DisplayFor(model => model.RfqId)</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Date:</p>
                </th>
                <th align="center">
                    <p>Check server date GMT</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Project Name</p>
                </th>
                <th align="center">
                    <p>@Html.DisplayFor(model => model.ProjectName)</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Site Name</p>
                </th>
                <th align="center">
                @Html.DisplayFor(model => model.Farm.FarmName)
                </th>
            </tr>
        </table>

    </div>
</div>

@*Agregar listado de Versiones...que tenga este RFQ*@


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RfqId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<table class="table">
    <tr>
        <th>
            Number Version
        </th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th>
            Project Description
        </th>
        <th>
            Actions
        </th>

    </tr>
    @foreach (var item in ViewBag.Rversion)
    {
        <tr id="@item.RversionId">
            <td>
                @item.NumberVersion
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.ProjectDescription
            </td>
            <td>
                @Html.ActionLink(" ", "VersionDetails", new { RversionId = item.RversionId, RfqId = Model.RfqId }, new { @class = "glyphicon glyphicon-list-alt" })
            </td>

        </tr>
    }
</table>
