<div id="allData">


    @model AXIS.Models.Rfq

    @{
        ViewBag.Title = "VersionDetails";
    }

    @{
        double TotalPrice = 0;
    }

    @Html.ActionLink("BACK", "Details", new { id = Model.RfqId, typefarm = ViewBag.Typefarm }, new { @class = "btn btn-primary btn-xs" })
    @{
        if (ViewBag.Status == "Open")
        {


            <a href="" onclick="newVersion(@ViewBag.RversionId, @Model.RfqId); return false;" class="btn btn-primary btn-xs">NEW VERSION</a>
            @Html.ActionLink("GENERATE JOB", "Create", "Contracts", new { rfqid = Model.RfqId, rversionid = ViewBag.RversionId, version = ViewBag.NumberVersion }, new { @class = "btn btn-primary btn-xs" })
            <label> </label>
            @Html.ActionLink("CLOSE VERSION", "Close", "Rversions", new { rfqid = Model.RfqId, rversionid = ViewBag.RversionId}, new { @class = "btn btn-primary btn-xs" })
        }
    }
    <h2>STATUS: @ViewBag.Status</h2>

    <div class="panelright">
        <div class="panel panel-axis right">
            <!-- Default panel contents -->
            <div class="panel-heading">RFQ # @Html.DisplayFor(model => model.RfqId)</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>Date:</p>
                    </th>
                    <th align="center">
                        <p>@ViewBag.VersionDate</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Version #</p>
                    </th>
                    <th align="center">
                        <p>@ViewBag.NumberVersion</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Site Farm</p>
                    </th>
                    <th align="center">
                        @ViewBag.SiteFarm
                    </th>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="panel panel-axis right">
                <!-- Default panel contents -->
                <div class="panel-heading">CUSTOMER</div>

                <table class="table table-bordered">
                    <tr>
                        <th align="center">
                            <p>@ViewBag.FullName</p>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>@ViewBag.Street</p>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>@ViewBag.City,  @ViewBag.State,  @ViewBag.Country</p>
                        </th>
                    </tr>
                </table>

            </div>
        </div>

        <div class="col-sm-6 form-group">
            <div class="panel panel-axislg right">
                <!-- Default panel contents -->
                <div class="panel-heading">QUOTE /PROJECT DESCRIPTION</div>

                <table class="table table-bordered">
                    <tr>
                        <th align="center">
                            <p>Project Name: @ViewBag.ProjectName</p>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>Type of Work: @ViewBag.ScopeWork</p>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>Scope ok Work:@ViewBag.TypeWork</p>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            @ViewBag.ProjectDescription
                        </th>
                    </tr>


                </table>

            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <table class="table table-bordered">
            <thead class="tr-axis">
                <tr>
                    <th>
                        DESCRIPTION
                    </th>
                    <th style="text-align:center">
                        UM
                    </th>
                    <th style="text-align:center">
                        COST POR UNIR
                    </th>
                    <th style="text-align:center">
                        PRICE PER UNIT
                    </th>
                    <th style="text-align:center">
                        QUANTITY
                    </th>
                    <th style="text-align:center">
                        TOTAL LINE
                    </th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Quotes)
            {
                <tr class="trbodyaxis">
                    <td style="text-align:left">
                        @item.Description
                    </td>
                    <td style="text-align:center">
                        @item.Um
                    </td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(item.CostPerUnit).ToString("$ #,##0.00");
                        }
                    </td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(item.PricePerUnit).ToString("$ #,##0.00");
                        }
                    </td>
                    <td style="text-align:center">
                        @item.Quantity
                    </td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(item.Currency).ToString("$ #,##0.00");
                        }
                    </td>

                </tr>
                                TotalPrice = TotalPrice + @item.Currency;
                            }

            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td style="text-align:right">Total</td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(TotalPrice).ToString("$ #,##0.00");
                        }

                    </td>
                </tr>
            </tfoot>

        </table>
    </div>


        <div class="panel panel-axisxl">
            <!-- Default panel contents -->
            <div class="panel-heading">SPECIAL NOTES AND INSTRUCTIONS</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        @ViewBag.Notes
                    </th>

                </tr>


            </table>

        </div>


    <div style="text-align:center">
        <p>
            Above information is not an invoice and only an estimate of services/goods described above.<br />
            Payment Terms: Net 30 days
        </p>
    </div>

    <div style="color:red">
        <p style="font-weight:bold">
            Terms & Conditions
        </p>
    </div>
    <div>
        @Html.Raw(ViewBag.TermsandConditions)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            function newVersion(id, rfqid) {

                var url = "/Rversions/NewVersion";

                var dialog = bootbox.dialog({
                    title: 'Create New Version',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'

                });


                $.post(url, { Id: id, rfqId: rfqid })
                     .done(function (data) {

                         dialog.modal('hide');
                         $('#allData').html(data);
                     })
                    .fail(function () {
                        alert("Fail create new registre")
                    });
            }


            //NewVersion
            function addtable(id) {

                var Description = $('#SelectQuotes').val();
                var Um = $('#Um').val();
                var CostPerUnit = $('#CostPerUnit').val();
                var PricePerUnit = $('#PricePerUnit').val();
                var Quantity = $('#Quantity').val();
                var Currency = PricePerUnit * Quantity;



                $('#tabla tr:last').after(
                    '<tr class="trbodyaxis" id=Quote' + id + '><td style="text-align:left">' + Description + '</td><td style="text-align:center">' + Um + '</td>' +
                         '<td style="text-align:right">' + CostPerUnit + '</td><td style="text-align:right">' + PricePerUnit + '</td><td style="text-align:center">'
                           + Quantity + '</td><td style="text-align:right">' + Currency + '</td>' +
                           '<td style="text-align:center"><a href="" onclick="confirmDelete(' + id + '); return false;" class = "glyphicon glyphicon-remove"></a></td>'
                    );

                var band = clearform();
            }

            function addQuote(id) {
                var url = "/Quotes/Create/";
                var RversionId = id
                var anti = $('[name=__RequestVerificationToken]').val();
                var Description = $('#SelectQuotes').val();
                var Um = $('#Um').val();
                var PricePerUnit = $('#PricePerUnit').val();
                var CostPerUnit = $('#CostPerUnit').val();
                var Quantity = $('#Quantity').val();
                var Currency = PricePerUnit * Quantity;

                $.post(url, { Description: Description, Um: Um, PricePerUnit: PricePerUnit, Quantity: Quantity, Currency: Currency, RversionId: RversionId, CostPerUnit: CostPerUnit, __RequestVerificationToken: anti },
                    function (data) {
                        var band = addtable(data);

                    });


            }

            function confirmDelete(id) {
                var url = "/quotes/Delete/";
                var QuoteId = id
                var anti = $('[name=__RequestVerificationToken]').val();

                $.post(url, { id: QuoteId, __RequestVerificationToken: anti }, function (data) {
                    $("#Quote" + QuoteId).remove();
                });

            }

            function clearform() {

                var Description = $('#Description').val('');
                var Um = $('#Um').val('');
                var PricePerUnit = $('#PricePerUnit').val('');
                var CostPerUnit = $('#CostPerUnit').val('');
                var Quantity = $('#Quantity').val('');
                var Currency = $('#Currency').val('');

            }


            function calctotal() {
                var PricePerUnit = $('#PricePerUnit').val();
                var Quantity = $('#Quantity').val();


                var result = PricePerUnit * Quantity;
                $('#Currency').val(result);
            }

            $("#SelectQuotes").change(function () {       // Funcion que se ejecuta cuando cambia la lista

                var name = $(this).val();

                if (name != "")
                {     var url = "/QuotesLists/GetQuotes/";



                    $.ajax({
                        url: url,
                        data: { Description: name },
                        cache: false,
                        type: "POST",
                        success: function (data) {

                            $('#Um').val(data.Um);
                            $('#PricePerUnit').val(data.Price);
                            $('#CostPerUnit').val(data.Cost);

                        },
                        error: function (reponse) {
                            alert(reponse);
                        }
                    });
                }else{

                    $('#Um').val('');
                    $('#PricePerUnit').val('');
                    $('#CostPerUnit').val('');

                }
            });
    </script>

}
