@model AXIS.Models.Rfq

@{
        ViewBag.Title = "VersionDetails";
    }

@{
    double TotalPrice = 0;
 }

@Html.ActionLink("Back", "Details", new { id = Model.RfqId }, new { @class = "btn btn-primary btn-xs" })

<h2>Version Details</h2>

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @Html.DisplayFor(model => model.RfqId)</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Date:</p>
                </th>
                <th align="center">
                    <p>@ViewBag.VersionDate</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Version #</p>
                </th>
                <th align="center">
                    <p>@ViewBag.NumberVersion</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Site Farm</p>
                </th>
                <th align="center">
                    @ViewBag.SiteFarm
                </th>
            </tr>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 form-group">
        <div class="panel panel-axis right">
            <!-- Default panel contents -->
            <div class="panel-heading">Customer</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>@ViewBag.FullName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.Street</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.City,  @ViewBag.State,  @ViewBag.Country</p>
                    </th>
                </tr>
            </table>

        </div>
    </div>

    <div class="col-sm-6 form-group">
        <div class="panel panel-axislg right">
            <!-- Default panel contents -->
            <div class="panel-heading">Quote/Project Description</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>Project Name: @ViewBag.ProjectName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Type of Work: @ViewBag.ScopeWork</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>Scope ok Work:@ViewBag.TypeWork</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        @ViewBag.ProjectDescription
                    </th>
                </tr>


            </table>

        </div>
    </div>
</div>


<div class="panel panel-default">
        <!-- Default panel contents -->
        <table class="table table-bordered">
            <thead class="tr-axis">
                <tr>
                    <th>
                        Description
                    </th>
                    <th style="text-align:center">
                        UM
                    </th>
                    <th style="text-align:center">
                        Cost per Unit
                    </th>
                    <th style="text-align:center">
                        Price per Unit
                    </th>
                    <th style="text-align:center">
                        Quantity
                    </th>
                    <th style="text-align:center">
                        Total Line
                    </th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Quotes)
            {
                <tr class="trbodyaxis">
                    <td style="text-align:left">
                        @item.Description
                    </td>
                    <td style="text-align:center">
                        UM
                    </td>
                    <td style="text-align:right">
                        Colocar el valor del costo
                    </td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(item.PricePerUnit).ToString("$ #,##0.00");
                        }
                    </td>
                    <td style="text-align:center">
                        @item.Quantity
                    </td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(item.Currency).ToString("$ #,##0.00");
                        }
                    </td>

                </tr>
                TotalPrice = TotalPrice + @item.Currency;
              }

            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td style="text-align:right">Total</td>
                    <td style="text-align:right">
                        @{
                            @Convert.ToDecimal(TotalPrice).ToString("$ #,##0.00");
                         }
                        
                    </td>
                </tr>
            </tfoot>

        </table>
</div>

<div class="panelright">
    <div class="panel panel-axis">
        <!-- Default panel contents -->
        <div class="panel-heading">Special Notes and Instructions</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    @ViewBag.Notes
                </th>

            </tr>


        </table>

    </div>
</div>

<div style="text-align:center">
    <p>
        Above information is not an invoice and only an estimate of services/goods described above.<br />
        Payment Terms: Net 30 days
    </p>
</div>

<div style="color:red">
    <p style="font-weight:bold">
        Terms & Conditions
    </p>
</div>


