@model AXIS.Models.Client

@{
    ViewBag.Title = "CLIENT PROFILE";
}

<div class="container">
    <h1 class="well">PROFILE</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { disabled = "disabled", @readonly = "readonly", @class = "form-control"})
                          
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                            @Html.TextAreaFor(model => model.Street, new { disabled = "disabled", @readonly = "readonly", @class = "form-control", @rows = "3" })                      
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>City</label>
                            @Html.TextBoxFor(model => model.City, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>State</label>
                            @Html.TextBoxFor(model => model.State, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Zip</label>
                            @Html.TextBoxFor(model => model.ZipCode, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        @Html.TextBoxFor(model => model.Country, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Title</label>
                            @Html.TextBoxFor(model => model.Title, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Department</label>
                            @Html.TextBoxFor(model => model.Department, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Company</label>
                            @Html.TextBoxFor(model => model.Company, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Region</label>
                            @Html.TextBoxFor(model => model.Region, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Work Phone Number</label>
                        @Html.TextBoxFor(model => model.WorkPhone, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">
                            <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-0 col-md-5">
                            <input type="button" value="New Call Log" class="btn btn-primary btn-xs" id="PartialCreate" />
                        </div>
                    </div>
                
                
                </div>
            </form>
        </div>
    </div>

    <div id="PartialCreateView"></div>


</div>

@Html.HiddenFor(model => model.ClientId)

<p>
    <a href=@Url.Action("Index", "Clients") class="btn btn-primary btn-xs">Back</a>
    <a href=@Url.Action("Edit", "Clients", new { id = Model.ClientId }) class="btn btn-primary btn-xs"> Edit </a>
</p>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#PartialCreate').click(function () {


                var ClientId = $('#ClientId').val();

                var url = "/Ccalls/PartialCreate/" + ClientId;

                $('#PartialCreateView').load(url);
            });
        });

        function CallSave() {
            var url = "/Ccalls/PartialCreate/";
            var clientid = $('#ClientId').val();
            var anti = $('[name=__RequestVerificationToken]').val();
            var title = $('#TitleC').val();
            var date = $('#Date').val();
            var note = $('#Note').val();
            var username = $('#UserName').val();
            var ccallid = 0

            $.post(url, { CcallId: ccallid, Title: title, Date: date, Note: note, UserName: username, ClientId: clientid, __RequestVerificationToken: anti }, function (data) {

                if (data = 1) {

                    $('#PartialCreateView').html('<p  class="alert alert-success">Save Sucess</p>');

                }
            });
        }

    </script>
}