@model AXIS.Models.Client

@{
    ViewBag.Title = "Edit Profile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ClientId)

    <div class="container">
        <h1 class="well">Edit Profile</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>First Name</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter First Name Here.." } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Last Name</label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Last Name Here.." } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextAreaFor(model => model.Street, new { @class = "form-control", placeholder = "Enter Address Here..", @rows = "3" })
                            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>City</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter City Name Here.." } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>State</label>
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter State Name Here.." } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Zip</label>
                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Zip Code Here.." } })
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Country Name Here.." } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Title</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Designation Here.." } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Department</label>
                                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Department Name Here.." } })
                                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Company</label>
                                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Company Name Here.." } })
                                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Work Phone Number</label>
                            @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Phone Number Here.." } })
                            @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email Address Here.." } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Region</label>
                            @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Region Here.." } })
                            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href=@Url.Action("Index", "Clients") class="btn btn-primary btn-xs">Back</a>
                                <input type="submit" value="Save" class="btn btn-primary btn-xs" />
                                <a href="" onclick="confirmDelete(); return false;" class="btn btn-primary btn-xs">Delete</a>

                            </div>                        
                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    function confirmDelete() {
        bootbox.confirm({
            message: "Are you sure you want to delete this?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result) {
                    var url = "/clients/Delete/";
                    var ClientId = $('#ClientId').val();

                    var anti = $('[name=__RequestVerificationToken]').val();
                  
                    $.post(url, { id: ClientId, __RequestVerificationToken: anti }, function (data) {
                      
                        if (data = 1){

                            var url = '@Url.Action("Index", "Clients")';
                            window.location.href = url;
                        }
                      



                  });

                }
            }
        });


    }
</script>



}
