@model IEnumerable<AXIS.Models.AssignmentOfToolsByJob>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @using (Html.BeginForm("PartialInvWarehousebyJob", "Assets", FormMethod.Get))
        {
            <p>
                FIND BY CATEGORY NAME: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-controlsearch" })
                <input type="submit" value="SEARCH" />
            </p>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("MANUFACTURER", "PartialInvWarehousebyJob", new { sortOrder = ViewBag.ManufacturerSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                MODEL
            </th>
            <th>
                SERIAL #
            </th>
            <th>
                STATUS
            </th>
            <th>
                CALIBRATION DATE
            </th>

            <th>
                @Html.ActionLink("CATEGORY", "PartialInvWarehousebyJob", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CDMD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>

            </tr>
        }

    </table>
</div>

@Html.AntiForgeryToken()
<p id="msg"></p>