@model AXIS.Models.Tech

@{
    ViewBag.Title = "Details";
}

<p>
    @Html.ActionLink(" CERTIFICATES", "Edit", "TechInfoAxis", new { id = Model.TechId }, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink(" WORK EXPERIENCE", "Index", "TechInfoWorks", new { id = Model.TechId }, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink(" ADD PHOTO", "Uploadimg", "Teches", new { id = Model.TechId }, new { @class = "btn btn-primary btn-xs" })
    <br />
    <div style="text-align:Center">
        <div>
            <img id="user_img"
                 height="140"
                 width="130"
                 style="border:solid" src=@Url.Content(@ViewBag.Src) />
        </div>
    </div>
</p>

<div class="container">
    <h1 class="well">@Model.FirstName @Model.LastName</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Address</label>
                        @Html.TextAreaFor(model => model.StreetAdderess, new { disabled = "disabled", @readonly = "readonly", @class = "form-control", @rows = "3" })
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>City</label>
                            @Html.TextBoxFor(model => model.CityAdderess, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>State</label>
                            @Html.TextBoxFor(model => model.State, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Zip</label>
                            @Html.TextBoxFor(model => model.Zip, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        @Html.TextBoxFor(model => model.Country, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Language</label>
                            @Html.TextBoxFor(model => model.Language, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Cell Phone</label>
                            @Html.TextBoxFor(model => model.Cell, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Local Airport</label>
                            @Html.TextBoxFor(model => model.LocalAirport, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Personal Email Address</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">
                            <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Company Email Address</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">
                            <a href="mailto:@Html.DisplayFor(model => model.EmailCompany)">@Html.DisplayFor(model => model.EmailCompany)</a>
                        </span>
                    </div>

                    <div class="form-group">
                        <label>SSN</label>
                        @Html.TextBoxFor(model => model.SSN, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Driver Licence</label>
                        @Html.TextBoxFor(model => model.DriveLicence, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>PayRate</label>
                        @Html.TextBoxFor(model => model.PayRate, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Daily Per Diem Rate</label>
                        @Html.TextBoxFor(model => model.DayliPerDiem, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Medical</label>
                        @Html.TextBoxFor(model => model.Medical, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Passport</label>
                        @Html.TextBoxFor(model => model.Passport, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Marital Status</label>
                        @Html.TextBoxFor(model => model.MaritalStatus, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Number of Children</label>
                        @Html.TextBoxFor(model => model.Children, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Education</label>
                        @Html.TextBoxFor(model => model.Education, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="PartialCreateView"></div>


</div>


<p>
    <a href=@Url.Action("Index", "Teches") class="btn btn-primary btn-xs">Back</a>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechId }, new { @class = "btn btn-primary btn-xs" })
    @using (Html.BeginForm("Delete", "Teches", new { id = Model.TechId }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-primary btn-xs" />
        </div>
    }

</p>
