@model IEnumerable<AXIS.Models.Tech>

@{
    ViewBag.Title = "Index";
}

<h2>Technicians &raquo; Tech Profile</h2>

<p>
    <a href=@Url.Action("Index","Technicians") class="btn btn-primary btn-xs">Back</a>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalAirport)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalAirport)
        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TechId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TechId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TechId })
        </td>
    </tr>
}

</table>
