@model IEnumerable<AXIS.Models.TechInfoCim>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tech.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Computer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tech.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Computer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TechInfoCimId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TechInfoCimId }) |
        </td>
    </tr>
}

</table>
