@model PagedList.IPagedList<AXIS.Models.AssignmentOfToolsByJob>
@using PagedList.Mvc;
@{
    ViewBag.Title = "INVENTORY BY JOB";
}

<h2>ASSETS &raquo; INVENTORY BY JOB</h2>

<p>
    <a href=@Url.Action("Inventory", "Assets") class="btn btn-primary btn-xs">BACK</a>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @using (Html.BeginForm("Index", "ToolbyJob", FormMethod.Get))
        {
            <p>
                FIND BY JOB #: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-controlsearch" })
                <input type="submit" value="SEARCH" />
            </p>
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("MANUFACTURER", "Index", new { sortOrder = ViewBag.ManufacturerSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                MODEL
            </th>
            <th>
                SERIAL # 1
            </th>
            <th>
                STATUS
            </th>
            <th>
                CALIBRATION DATE
            </th>
            <th>
                @Html.ActionLink("CATEGORY", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("JOB #", "Index", new { sortOrder = ViewBag.ContractSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>ACTIONS</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CDMD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td align="center">
                    <a href=@Url.Action("Edit", "ToolbyJob", new { id = item.Id }) class="glyphicon glyphicon-pencil btn btn-primary btn-xs" , title="EDIT"></a> |
                    <a href=@Url.Action("Details", "Contracts", new { id = item.ContractId }) class="glyphicon glyphicon-info-sign btn btn-primary btn-xs" , title="JOB DETAILS"></a>
                </td>
            </tr>
        }

    </table>

    <div class="panel-footer">
        <div class="row">
            PAGE @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) OF @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>



