@model IEnumerable<AXIS.Models.AssignmentOfToolsByJob>



@Html.AntiForgeryToken()
@Html.Hidden("ContractId", (Int32)ViewBag.ContractId)


<div class="panelright">
    <div class="panel panel-axislg right">
        <div class="panel-heading">
            SELECT TOOLS
        </div>
        <table class="table table-bordered">
            <tr>
                <td colspan="3"></td>
                <td style="text-align:right">
                    <button id="checar" class="btn btn-primary btn-xs">SAVE SELECTED</button>
                </td>

            </tr>
            <tr>
                <th style="text-align:center">
                    MANUFACTURER
                </th>
                <th style="text-align:center">
                    MODEL
                </th>
                <th style="text-align:center">
                    SERIAL #
                </th>
                <th style="text-align:center">
                    SELECT
                </th>
            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serial1)
                    </td>
                    <td style="text-align:center">
                        @Html.CheckBoxFor(modelItem => item.CheckJob, new { value = item.Id })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="/Scripts/jquery.min.js"></script>
<script>
    var array = [];

$('#checar').click(function () {
    $('input:checkbox:checked').each(function () {
        array.push($(this).val());
    });

    var url2 = '@Url.Action("Index", "Mobilization")';
    var url = "/ToolbyJob/SaveListA/";
    var anti = $('[name=__RequestVerificationToken]').val();
    var ContractId = $('#ContractId').val();

    $.post(url, { ContractId: ContractId, values: array, __RequestVerificationToken: anti }, function (data) {

        if (data = 1) {

            url = "/ATools/EditJson/"
            var PurchaseOrderId = $('#PurchaseOrderId').val();
            var SuppliedBy = $('#SuppliedBy').val();
            var AditionalInfo = $('#AditionalInfo').val();

            $.post(url, { PurchaseOrderId: PurchaseOrderId, SuppliedBy: SuppliedBy, AditionalInfo:AditionalInfo, ContractId: ContractId, values: array, __RequestVerificationToken: anti }, function (data) {

                if (data = 1) {

                    window.location.href = url2;
                }

            });

        }

    });


});
</script>