<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Axis APP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body background="~/Content/images/axisbg.jpg">
    
    <div align="center">
        <a title="Axis Renewable Group" href="http://www.axisrg.com"><img src="~/Content/images/axis_logo.jpg" alt="Logo Image" /></a>
    </div>
        
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
  
    <div class="container body-content">
        @RenderBody()
    </div>


    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - © AXIS RENEWABLE GROUP. All rights reserved.</p>
    </footer>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquerymin")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootbox")
        @RenderSection("scripts", required: false)
</body>
</html>
