@model AXIS.Models.Rversion

@{
    ViewBag.Title = "RFQ # " + @ViewBag.RfqId + " Ver. 1";
}

<h2>ADITIONAL INFO. RFQ, </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.RfqId)
    @Html.HiddenFor(model => model.TotalCost)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.NumberVersion)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @ViewBag.RfqId</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Date:</p>
                </th>
                <th align="center">
                    <p>@Model.Date</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Version #</p>
                </th>
                <th align="center">
                    <p>1</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Site</p>
                </th>
                <th align="center">
                    @ViewBag.SiteFarm
                </th>
            </tr>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 form-group">
        <div class="panel panel-axis right">
            <!-- Default panel contents -->
            <div class="panel-heading">CUSTOMER</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>@ViewBag.FullName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.Street</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.City,  @ViewBag.State,  @ViewBag.Country</p>
                    </th>
                </tr>
            </table>

        </div>
    </div>

    <div class="col-sm-6 form-group">
        <div class="panel panel-axislg right">
            <!-- Default panel contents -->
            <div class="panel-heading">QUOTE / PROJECT DESCRIPTION</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type of work</label>
                            <div class="col-md-6">
                                @Html.EnumDropDownListFor(model => model.TypeWork, htmlAttributes: new { @class = "form-control", @id = "SelectTypeWork" })
                                @Html.ValidationMessageFor(model => model.TypeWork, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <div class="form-group">
                            <label class="control-label col-md-4">Scope of work</label>
                            <div>
                                <div class="col-md-6" id="listscopework">
                                    <select class="form-control valid" id="ScopeWorkId" name="ScopeWorkId"></select>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th align="center">
                        <label class="control-label col-md-4">Project Description</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.ProjectDescription, new { @class = "form-control", placeholder = "Enter description Here..", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                        </div>

                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="panelright">
    <div class="panel panel-axisxl">
        <!-- Default panel contents -->
        <div class="panel-heading">SPECIAL NOTES AND INSTRUCTIONS</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <div class="col-lg-12">
                        @Html.TextAreaFor(model => model.NotesAndInstructions, new { @class = "form-control", placeholder = "Enter Notes and Instructions Here..", @row = "15" })
                        @Html.ValidationMessageFor(model => model.NotesAndInstructions, "", new { @class = "text-danger" })
                    </div>
                </th>

            </tr>


        </table>

    </div>
</div>

@Html.LabelFor(model => model.TermsandConditions, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.TermsandConditions, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TermsandConditions, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="STEP 3" class="btn btn-default" />
            </div>
        </div>
}


<div id="Terms" style="display:none;">

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            The above pricing is valid 30 days from the bid date
            and is subject to change upon notice. All the above pricing does not include
            state, federal, or any applicable taxes.                                                                                          
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            1. In the event of inclement weather, or other events
            beyond the control of Axis Renewable Group Inc., where work is suspended, Axis
            Renewable Group Inc. will receive compensation for actual hours lost not to
            exceed 40 hours per Week $75.00/ hour (40 Hours/Week Guarantee).                  
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            2. No warranty or liability applies to any customer
            directed or managed work scope.       
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            3. Rates include workers equipped with Hand Tools
            commensurate with trade and Personal Protection Equipment including hard hat,
            safety glasses, gloves, safety shoes, and climbing harnesses, lanyards, and
            Lad-Safe.                                                                                                                                                                                 
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            4. Payment is due within 30 days of invoice date. A
            finance charge of 2% per month will apply to overdue invoices starting at 60 days.                                                                                                                      
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            5. Crew skill mix will be optimized by Axis Renewable
            Group, Inc. to control cost and ensure success.          
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            6. Each Axis Renewable Group, Inc. employee will be
            furnished with on-site safety orientation by a Customer Site Representative or
            Designee.
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            7. Customer will be responsible for the proper
            disposal for all onsite generated waste, and will provide proper disposal
            containers for waste storing while onsite.
        </span>
    </p>
    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            8. Mobilization will occur upon Axis Renewable Group,
            Inc. receiving purchase order from Nordex.              
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            9. Axis Renewable Group, Inc. technicians usually work
            6 weeks with one long weekend at home for R&amp;R. This can be changed with any
            agreements between Axis Renewable Group, Inc. and Nordex.              
        </span>
    </p>

    <p style='line-height:normal'>
        <span lang=EN-US
              style='font-size:10.0pt'>
            10. Any changes to the scope of work should be
            discussed and approved by Nordex and the new scope of work should be clearly
            provided to Axis Renewable Group, Inc. and a new proposal and contract
            executed.                                                                                                                                                                        
        </span>
    </p>

    <p align=center style='text-align:center;line-height:normal'>
        <b>
            <span lang=EN-US style='font-size:10.0pt'>
                The terms of this contract will be accepted
                by a purchase order or written acknowledgment to AxisRGG
            </span>
        </b>
    </p>

</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        <script>
            $("#SelectTypeWork").change(function () {       // Funcion que se ejecuta cuando cambia la lista

                var id = $(this).val();
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#ScopeWorkId").html(procemessage).show();
                var url = "/Rversions/GetScopeWork/";
            
                $.ajax({
                    url: url,
                    data: { typework: id },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value='0'>Select Work</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#ScopeWorkId").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });

            });

            window.onload = function () {

                var data = $('#Terms').html();
               
               
               $('#TermsandConditions').html(data);
               
                CKEDITOR.replace("TermsandConditions",
               {
                   language: 'en',
                   toolbar:
                   [
                       ['Source', '-', 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'TextColor', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight']

                   ]
               });

            };


</script>

        }

<script src="../../Content/js/ckeditor/ckeditor.js" type="text/javascript"></script>
