@model AXIS.Models.Rversion

@{
    ViewBag.Title = "RFQ # Ver. 1";
}

<h2>Aditional info RFQ</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.RfqId)
    @Html.HiddenFor(model => model.TotalCost)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.NumberVersion)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">RFQ # @ViewBag.RfqId</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Date:</p>
                </th>
                <th align="center">
                    <p>@Model.Date</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Version #</p>
                </th>
                <th align="center">
                    <p>1</p>
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Site Farm</p>
                </th>
                <th align="center">
                    @ViewBag.SiteFarm
                </th>
            </tr>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 form-group">
        <div class="panel panel-axis right">
            <!-- Default panel contents -->
            <div class="panel-heading">Customer</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>@ViewBag.FullName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.Street</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        <p>@ViewBag.City,  @ViewBag.State,  @ViewBag.Country</p>
                    </th>
                </tr>
            </table>

        </div>
    </div>

    <div class="col-sm-6 form-group">
        <div class="panel panel-axislg right">
            <!-- Default panel contents -->
            <div class="panel-heading">Quote/Project Description</div>

            <table class="table table-bordered">
                <tr>
                    <th align="center">
                        <p>Project Name: @ViewBag.ProjectName</p>
                    </th>
                </tr>
                <tr>
                    <th align="center">
                        @Html.TextAreaFor(model => model.ProjectDescription, new { @class = "form-control", placeholder = "Enter description Here..", @rows = "5" } )
                        @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                    </th>
                </tr>


            </table>

        </div>
    </div>
</div>


        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.TypeWork, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.TypeWork, htmlAttributes: new { @class = "form-control", @id = "SelectTypeWork" })
                    @Html.ValidationMessageFor(model => model.TypeWork, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ScopeWorkId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="listscopework">
                    <select class="form-control valid" id="ScopeWorkId" name="ScopeWorkId"></select>
                </div>
            </div>   


            <div class="form-group">
                @Html.LabelFor(model => model.NotesAndInstructions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.NotesAndInstructions, new  { @class = "form-control", @row = "10", @cols = "10"})
                    @Html.ValidationMessageFor(model => model.NotesAndInstructions, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Step 3" class="btn btn-default" />
                </div>
            </div>
        </div>
}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        <script>
            $("#SelectTypeWork").change(function () {       // Funcion que se ejecuta cuando cambia la lista

                var id = $(this).val();
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#ScopeWorkId").html(procemessage).show();
                var url = "/Rversions/GetScopeWork/";
            
                $.ajax({
                    url: url,
                    data: { typework: id },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value='0'>Select Work</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#ScopeWorkId").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });


            });


</script>

        }

