@model IEnumerable<AXIS.Models.Rversion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rfq.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScopeWork.Work)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotesAndInstructions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var ident = "Rversion" + @item.RversionId;
    <tr id=@ident>
        <td>
            @Html.DisplayFor(modelItem => item.Rfq.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScopeWork.Work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotesAndInstructions)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.RversionId }, new { @class = "glyphicon glyphicon-pencil" }) |
            <a href="" onclick="confirmDelete(@item.RversionId); return false;" class="glyphicon glyphicon-remove"></a>
        </td>
    </tr>
}

</table>


@Html.AntiForgeryToken()
<p id="msg"></p>

@section scripts
{
    <script>
    function confirmDelete(id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result) {
                    var url = "/rversions/Delete/";
                    var RversionId = id
                    var anti = $('[name=__RequestVerificationToken]').val();

                    $.post(url, { id: RversionId, __RequestVerificationToken: anti }, function (data) {



                        $("#Rversion" + RversionId).remove();
                        $("#msg").last().addClass("alert alert-success");
                        $("#msg").html(data);
                    });

                }
            }
        });


    }
    </script>


}