@model AXIS.Models.Contract

@{
    ViewBag.Title = "GENERATE JOB";

}


<h2>BUSINESS DEVELOPMENT &raquo; NEW JOB</h2>

<p>
    <a href=@Url.Action("Index","Contracts") class="btn btn-primary btn-xs">BACK</a>
</p>

@using (Html.BeginForm("Create",
                                                "Contracts",
                                                FormMethod.Post,
                                                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ADITIONAL INFORMATION</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            <div class="panel panel-axisxl right">
                <!-- Default panel contents -->
                <div class="panel-heading">RFQ # @ViewBag.RfqId  VER # @ViewBag.rversion</div>

                <table class="table table-bordered">
                    <tr>
                        <th align="center">
                            <p>COMMENTS</p>
                        </th>
                        <th align="center">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>FILE</p>
                        </th>
                        <th align="center">
                            <div class="col-md-10">
                                <input type="file" name="File" id="File" />
                                <br />
                                @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                            </div>
                        </th>
                    </tr>

                    <tr>
                        <th align="center">
                            <p>RESOURCE MANAGER</p>
                        </th>
                    <th align="center">
                        <div class="col-md-10">
                            @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })

                        </div>

                    </th>


                    </tr>

                    <tr>
                        <th align="center">
                            <p>START CONTRACT</p>
                        </th>
                        <th align="center">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th align="center">
                            <p>END CONTRACT</p>
                        </th>
                        <th align="center">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </th>
                    </tr>
                </table>

            </div>


        @Html.HiddenFor(model => model.RfqId)
        @Html.HiddenFor(model => model.RversionId)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
