@model AXIS.Models.Contract

@{
    ViewBag.Title = "CONTRACT";
}
<div style="text-align:center">
    <h2>BUSINESS DEVELOPMENT &raquo; JOBS</h2>
</div>

<p>
    <a href=@Url.Action("Index","Contracts") class="btn btn-primary btn-xs">BACK</a>
</p>

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">JOB # @Html.DisplayFor(model => model.ContractId)</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>PROJECT DESCRIPTION</p>
                </th>
                <th align="center">
                    <p>@Html.DisplayFor(model => model.Rversion.ProjectDescription)</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>COMMENTS OR NOTES</p>
                </th>
                <th>
                    <p>@Html.DisplayFor(model => model.Comments)</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>JOB CONTRACTED DATE</p>
                </th>
                <th>
                    @Html.DisplayFor(model => model.Date)
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>JOB FILE</p>
                </th>
                <th>
                    @Html.ActionLink(Model.File, "Download", new { ImageName = Model.File, Rfqid = Model.RfqId })
                </th>
            </tr>
        </table>

    </div>
</div>


<br />
@Html.Action("PartialCreate", "Purchaseorders", new { contractId = Model.ContractId });

<br />
@Html.Action("PartialList", "Purchaseorders", new { contractId = Model.ContractId });