@model AXIS.Models.Contract

@{
    ViewBag.Title = "CONTRACT";
}
<div style="text-align:center">
    <h2>
        Business Development <br />
        CONTRACT
    </h2>
</div>

<p>
    <a href=@Url.Action("Index","Contracts") class="btn btn-primary btn-xs">Back</a>
</p>

<div class="panelright">
    <div class="panel panel-axis right">
        <!-- Default panel contents -->
        <div class="panel-heading">CONTRACT # @Html.DisplayFor(model => model.ContractId)</div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    <p>Project Description</p>
                </th>
                <th align="center">
                    <p>@Html.DisplayFor(model => model.Rversion.ProjectDescription)</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Comments or Notes</p>
                </th>
                <th>
                    <p>@Html.DisplayFor(model => model.OcClient)</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p>Contract Date</p>
                </th>
                <th>
                    @Html.DisplayFor(model => model.Date)
                </th>
            </tr>
            <tr>
                <th align="center">
                    <p>Contract File</p>
                </th>
                <th>
                    @Html.ActionLink(Model.File, "Download", new { ImageName = Model.File, Rfqid = Model.RfqId })
                </th>
            </tr>
        </table>

    </div>
</div>


<br />
@Html.Action("PartialCreate", "Purchaseorders", new { contractId = Model.ContractId });

<br />
@Html.Action("PartialList", "Purchaseorders", new { contractId = Model.ContractId });