@model AXIS.Models.Contract

@{
    ViewBag.Title = "Contract Details";
}

<h2>Business Development &raquo; Contracts Details</h2>

<p>
    <a href=@Url.Action("Index","Contracts") class="btn btn-primary btn-xs">Back</a>
</p>

<div>
    <h4>Contract #: @Html.DisplayFor(model => model.ContractId)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rfq.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rfq.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rversion.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rversion.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OcClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

    </dl>
</div>

