@model PagedList.IPagedList<AXIS.Models.Contract>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "JOBS";
}

<h2>BUSINESS DEVELOPMENT &raquo; JOBS</h2>

<p>
    <a href=@Url.Action("Index","BusDev") class="btn btn-primary btn-xs">BACK</a>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @using (Html.BeginForm("Index", "Contracts", FormMethod.Get))
        {
            <p>
                Find by Contract #: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-controlsearch" })
                <input type="submit" value="Search" />
            </p>
            <p style="color:red">
                @ViewBag.Message
            </p>
        }
    </div>

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.ActionLink("JOB #", "Index", new { sortOrder = ViewBag.ContractSortParm })
            </th>

            <th>
                @Html.ActionLink("SITE NAME", "Index", new { sortOrder = ViewBag.FarmnameortParm })
            </th>
            <th>
                @Html.ActionLink("PROJECT NAME", "Index", new { sortOrder = ViewBag.ProjectnameSortParm })
            </th>
            <th>
                PROJECT DESCRIPTION
            </th>
            <th>
                COMMENTS
            </th>
            <th>
                JOB INICIAL DATE
            </th>
            <th>
                FILE JOB
            </th>
            <th>ACTIONS</th>
        </tr>
        @foreach (var item in Model)
        {
            var archivo = @item.File;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rfq.Farm.FarmName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rfq.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rversion.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink(@item.File, "Download", new { ImageName = @item.File, Rfqid = @item.RfqId })
                </td>
                <td>
                    @Html.ActionLink("OPEN", "Details", new { id = item.ContractId })

                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        <div class="row">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

