@model IEnumerable<AXIS.Models.Contract>

@{
    ViewBag.Title = "Contracts";
}

<h2>Business Development &raquo; Contracts List</h2>

<p>
    <a href=@Url.Action("Index","BusDev") class="btn btn-primary btn-xs">Back</a>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Axis Client List</div>

    <table class="table table-bordered">
        <tr>
            <th>
                Contract Number
            </th>

            <th>
                Site Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rfq.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rversion.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rfq.Farm.FarmName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rfq.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rversion.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OcClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ContractId })

                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        <div class="row">
            <div class="col col-xs-4">
                Page 1 of 5
            </div>
            <div class="col col-xs-8">
                <ul class="pagination hidden-xs pull-right">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
                <ul class="pagination visible-xs pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

