    @model AXIS.Models.Farm

@{
    ViewBag.Title = "View Farm";
}


<div class="container">
    <h1 class="well">View Farm</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Type of Farm</label>
                            <p></p>
                            <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.TypeFarm)</span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Farm Name</label>
                            <p></p>
                            <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.FarmName)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.StreetAddress)</span>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>City</label>
                            <p></p>
                            <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.City)</span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>State</label>
                            <p></p>
                            <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.State)</span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Zip</label>
                            <p></p>
                            <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.ZipCode)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Country)</span>
                    </div>
                    <div class="form-group">
                        <label>Manufacture</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Manufacture)</span>
                    </div>
                    <div class="form-group">
                        <label>Platform</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Platform)</span>
                    </div>
                    <div class="form-group">
                        <label>Convertor</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Convertor)</span>
                    </div>
                    <div class="form-group">
                        <label># of Towers</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.NumberTowers)</span>
                    </div>
                    <div class="form-group">
                        <label>MW</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.NumberMws)</span>
                    </div>
                    <div class="form-group">
                        <label>Gearbox</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Gearbox)</span>
                    </div>
                    <div class="form-group">
                        <label>Site Manager</label>
                        <p></p>
                        <span class="labelaxis labelaxix-profile">@Html.DisplayFor(model => model.Client.FullName)</span>
                    </div>
                    <div class="form-group">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<p>
    <a href=@Url.Action("Index", "Farms") class="btn btn-primary btn-xs">Back</a>
    <a href=@Url.Action("Edit", "Farms", new { id = Model.FarmId }) class="btn btn-primary btn-xs"> Edit </a>


</p>
