@model PagedList.IPagedList<AXIS.Models.Farm>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "FARMS";
}

<h2>BUSINESS DEVELOPMENT &raquo; FARMS</h2>

<p>
    <a href=@Url.Action("Index","BusDev") class="btn btn-primary btn-xs">BACK</a>

    <a href=@Url.Action("Create","Farms") class="btn btn-primary btn-xs">NEW FARM</a>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @using (Html.BeginForm("Index", "Farms", FormMethod.Get))
        {
            <p>
                Find by Site Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-controlsearch" })
                <input type="submit" value="Search" />
            </p>
        }
    </div>

        <table class="table table-bordered">
            <tr>
                <th align="center">
                    @Html.ActionLink("SITE NAME", "Index", new { sortOrder = ViewBag.SiteSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("TYPE OF SITE", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th align="center">
                    <p>SITE MANAGER</p>
                </th>

                <th>
                    CITY
                </th>
                <th>
                    STATE
                </th>

                <th>
                    COUNTRY
                </th>
                <th>
                    MANUFACTURE
                </th>
                <th>
                    PLATFORM
                </th>
                <th>
                    CONVERTOR
                </th>
                <th>ACTIONS</th>
            </tr>

        @foreach (var item in Model)
        {
            var ident = "Farm" + @item.FarmId;
            var sitename = @item.Client.FirstName + " " + @item.Client.LastName;

            <tr id=@ident>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeFarm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => sitename)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Convertor)
                </td>

                <td>
                    @*
    @Html.ActionLink(" ", "Edit", new { id = item.FarmId }, new { @class = "glyphicon glyphicon-pencil" }) |
    <a href="" onclick="confirmDelete(@item.FarmId); return false;" class="glyphicon glyphicon-remove"></a>
                    *@
                    @Html.ActionLink(" VIEW", "Details", new { id = item.FarmId }, new { @class = "glyphicon glyphicon-info-sign" })
                </td>
            </tr>
        }

    </table>

    <div class="panel-footer">
        <div class="row">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

    @Html.AntiForgeryToken()
    <p id="msg"></p>

    @section scripts
{
        <script>
            function confirmDelete(id) {
                bootbox.confirm({
                    message: "Are you sure you want to delete this?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {


                        if (result) {

                            var url = "/farms/Delete/";
                            var FarmId = id
                            var anti = $('[name=__RequestVerificationToken]').val();

                            $.post(url, { id: FarmId, __RequestVerificationToken: anti }, function (data) {



                                $("#Farm" + FarmId).remove();
                                $("#msg").last().addClass("alert alert-success");
                                $("#msg").html(data);



                            });

                        }
                    }
                });


            }
        </script>


    }
