@model AXIS.Models.TechInfoKit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TechInfoKit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tech.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tech.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarnessManufacter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarnessModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarnessModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarnessSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarnessSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarnessDateManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarnessDateManufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarnessRecertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarnessRecertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaynarManufacter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaynarManufacter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaynarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaynarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaynarSerial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaynarSerial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaynarDateManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaynarDateManufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaynarRecertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaynarRecertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CableGrab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CableGrab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Helment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Helment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uniforms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uniforms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechId }) |
    @Html.ActionLink("Back to List", "Details", "Teches", new { id = Model.TechId },null )
</p>
