@model AXIS.Models.TechInfoKit

@{
    ViewBag.Title = "Tech Info. Kit";
}

<h2>KIT #:</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Hardness" aria-controls="Hardness" role="tab" data-toggle="tab">Harness</a></li>
            <li role="presentation"><a href="#Lan" aria-controls="Lan" role="tab" data-toggle="tab">Lan-Yard</a></li>
            <li role="presentation"><a href="#Cable" aria-controls="Cable" role="tab" data-toggle="tab">Cable Grab</a></li>
            <li role="presentation"><a href="#Other" aria-controls="Other" role="tab" data-toggle="tab">Other</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Hardness">
                <div class="container">
                    <h3 class="well">Harness</h3>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Manufacter</label>
                                        @Html.EditorFor(model => model.HarnessManufacter, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HarnessManufacter, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Model #</label>
                                        @Html.EditorFor(model => model.HarnessModel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HarnessModel, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Manufactor Date</label>
                                        <br />
                                        @Html.EditorFor(model => model.HarnessDateManufacture, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HarnessDateManufacture, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Serial number</label>
                                        @Html.EditorFor(model => model.HarnessSerial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HarnessSerial, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Lan">
                <div class="container">
                    <h3 class="well">Lan-Yard</h3>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Manufacter</label>
                                        @Html.EditorFor(model => model.LaynarManufacter, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LaynarManufacter, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Model #</label>
                                        @Html.EditorFor(model => model.LaynarModel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LaynarModel, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Manufactor Date</label>
                                        <br />
                                        @Html.EditorFor(model => model.LaynarDateManufacture, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LaynarDateManufacture, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Serial number</label>
                                        @Html.EditorFor(model => model.LaynarSerial, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LaynarSerial, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Cable">
                <div class="container">
                    <h3 class="well">Cable Grab</h3>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Manufacter</label>
                                        @Html.EditorFor(model => model.CableGrab, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CableGrab, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Model #</label>
                                        @Html.EditorFor(model => model.Helment, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Helment, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Manufactor Date</label>
                                        @Html.EditorFor(model => model.Uniforms, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Uniforms, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Serial Number</label>
                                        @Html.EditorFor(model => model.Uniforms, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Uniforms, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Other">
                <div class="container">
                    <h3 class="well">Other</h3>
                    <div class="col-lg-12 well">
                        <div class="row">
                            <form>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Helment</label>
                                        @Html.EditorFor(model => model.Helment, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Helment, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Uniforms</label>
                                        @Html.EditorFor(model => model.Uniforms, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Uniforms, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Other 1</label>
                                        @Html.EditorFor(model => model.Uniforms, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Uniforms, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Other 2</label>
                                        @Html.EditorFor(model => model.HarnessRecertification, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HarnessRecertification, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Other 3</label>
                                        @Html.EditorFor(model => model.LaynarRecertification, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LaynarRecertification, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


}

<div>
    @Html.ActionLink("BACK", "Assets", "Teches", new { id =  Model.TechId}, new { @class = "btn btn-primary btn-xs" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#HarnessDateManufacture").datepicker({
                changeYear: true,
                changeMonth: true,
                yearRange: '1994:2222',
                background: '#000',
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "cal",
                    text: false
                });
        });

        $(document).ready(function () {
            $("#LaynarDateManufacture").datepicker({
                changeYear: true,
                changeMonth: true,
                yearRange: '1994:2222',
                background: '#000',
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "cal",
                    text: false
                });
        });

    </script>

}
