@model PagedList.IPagedList<AXIS.Models.Purchaseorder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "POs";
}

<h2>BUSINESS DEVELOPMENT &raquo; PURCHASE ORDERS</h2>

<p>
    <a href=@Url.Action("Index","BusDev") class="btn btn-primary btn-xs">BACK</a>
</p>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @using (Html.BeginForm("Index", "Purchaseorders", FormMethod.Get))
        {
            <p>
                SEARCH BY PO AXIS: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-controlsearch" })
                <input type="submit" value="Search" />
            </p>
        }
    </div>

    <table class="table table-bordered">
        <tr>
            <th>
                PO AXIS
            </th>
            <th>
                JOB #
            </th>
            <th>
                @Html.ActionLink("PO CLIENT", "Index", new { sortOrder = ViewBag.PonameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                COMMENTS
            </th>
            <th>
                @Html.ActionLink("DATE", "Index", new { sortOrder = ViewBag.DatenameSortParm })
            </th>
            <th>
                ATTACHED FILE
            </th>
            <th>
                ACTIONS
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File)
                </td>
                <td>

                    @Html.ActionLink(" JOB DETAILS", "Details", "Contracts", new { id = item.ContractId }, new { @class = "glyphicon glyphicon-list-alt" })

                </td>
            </tr>
        }

    </table>
    <div class="panel-footer">
        <div class="row">
            PAGE @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) OF @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>




@Html.AntiForgeryToken()
<p id="msg"></p>

@section scripts
{
    <script>
    function confirmDelete(id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result) {
                    var url = "/clients/Delete/";
                    var ClientId = id
                    var anti = $('[name=__RequestVerificationToken]').val();

                    $.post(url, { id: ClientId, __RequestVerificationToken: anti }, function (data) {



                        $("#Client" + ClientId).remove();
                        $("#msg").last().addClass("alert alert-success");
                        $("#msg").html(data);
                    });

                }
            }
        });


    }
    </script>


}

