@model IEnumerable<AXIS.Models.Purchaseorder>

<h4>PO List</h4>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-bordered">
        <thead class="tr-axis">
            <tr>
                <th style="text-align:center">
                    PO AXIS
                </th>
                <th style="text-align:center">
                    PO Client
                </th>
                <th>
                    Comments
                </th>
                <th style="text-align:center">
                    Date
                </th>
                <th>
                    Attached file
                </th>
                <th style="text-align:center">
                    Action
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.PurchaseOrderId)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.PO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentary)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink(@item.File, "Download", new { ImageName = @item.File, POid = @item.ContractId })
                </td>


                @using (Html.BeginForm("Delete", "Purchaseorders", new { id = item.PurchaseOrderId, contractid = item.Contract.ContractId }, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()

                    <td style="text-align:center">
                        <a href=@Url.Action("Create", "FieldOperations", new {id = @item.PurchaseOrderId}) class="btn btn-primary btn-xs">Assigned</a>  |
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </td>

                }
            </tr>
        }
    </table>

</div>

