@model IEnumerable<AXIS.Models.AssignmentOfToolsByTruck>



@Html.AntiForgeryToken()
@Html.Hidden("ContractId", (Int32)ViewBag.ContractId)
@Html.Hidden("TruckId", (Int32)ViewBag.TrucktId)
@Html.Hidden("PurchaseOrderId", (Int32)ViewBag.PurchaseOrderId)


<div class="panelright">
    <div class="panel panel-axisxl right">
        <div class="panel-heading" style="text-align:center">
            TO SALECT TOOLS
        </div>
        <table class="table table-bordered">
            <tr>
                <td colspan="6"></td>
                <td style="text-align:right">
                    <p><button id="checar" class="btn btn-primary btn-xs">SAVE</button></p>
                </td>
            </tr>
            <tr>
                <th>
                    MANUFACTURED
                </th>
                <th>
                    MODEL                    
                </th>
                <th>
                    SERIAL #
                </th>

                <th>
                    STATUS
                </th>
                <th>
                    CALIBRATION DUE / MANUF. DATE
                </th>

                <th>
                    CATEGORY
                </th>

                <th>
                    SELECT
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serial1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CDMD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>

                    <td style="text-align:center">
                        @Html.CheckBoxFor(modelItem => item.CheckTruck, new { value = item.Id })
                    </td>

                </tr>
            }

        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="/Scripts/jquery.min.js"></script>
<script>
    var array = [];

$('#checar').click(function () {
    $('input:checkbox:checked').each(function () {
        array.push($(this).val());
    });


    var url = "/ToolsbyTrucks/SaveListA/";
    var anti = $('[name=__RequestVerificationToken]').val();
    var ContractId = $('#ContractId').val();
    var PurchaseOrderId = $('#PurchaseOrderId').val();
    var TruckId = $('#TruckId').val();
    var url2 = '@Url.Action("AToolsbyTruck", "ToolsbyTrucks")' + "?TruckId=" + TruckId + "&ContractId=" + ContractId + "&PurchaseOrderId=" + PurchaseOrderId;
    ////Aqui me quede
    $.post(url, { TruckId: TruckId, ContractId: ContractId, PurchaseOrderId: PurchaseOrderId, values: array, __RequestVerificationToken: anti }, function (data) {

        if (data = 1) {

            window.location.href = url2;
        }

    });
});


    function confirmRemove(id) {
        bootbox.confirm({
            message: "ARE YOU SURE TO REMOVE THIS TOOL?",
            buttons: {
                confirm: {
                    label: 'YES',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'NO',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result) {
                    var url = "/ToolsbyTrucks/Remove/";
                    var ContractId = $('#ContractId').val();
                    var TruckId = $('#TruckId').val();
                    var PurchaseOrderId = $('#PurchaseOrderId').val();
                    var url2 = '@Url.Action("AToolsbyTruck", "ToolsbyTrucks")' + "?TruckId=" + TruckId + "&ContractId=" + ContractId + "&PurchaseOrderId=" + PurchaseOrderId;

                    var anti = $('[name=__RequestVerificationToken]').val();

                    $.post(url, { Id: id, __RequestVerificationToken: anti }, function (data) {

                        if (data = 1) {

                            window.location.href = url2;
                        }




                    });

                }
            }
        });


    }

</script>
